<div class="main-container" fxFlex="1 1 auto" fxLayout="column">
<app-pie-chart ></app-pie-chart>


</div>








  <!-- <div class="header" fxFlex="1 1 10%" fxLayoutAlign="center center">
    <h1 class="header-text">Canadian Olympic Medals</h1>
  </div>

  <div class="card-container" fxFlex="1 1 90%" >
    <nz-tabset nzType="card" fxFlex="1 1 100%">
      <nz-tab [nzTitle]="'Individual Medal Stats'">
        <p>Look at all these individuals!</p>
        <div nz-row [nzGutter]="16">
          <div nz-col class="gutter-row" [nzSpan]="12">
            <h2 fxLayoutAlign="center">By Sport</h2>
            <app-pie-chart [data]="medals"></app-pie-chart>
          </div>
          <div nz-col class="gutter-row" [nzSpan]="12">
            <h2 fxLayoutAlign="center">By Gender</h2>
            <app-pie-chart></app-pie-chart>
          </div>
        </div>
      </nz-tab>
      <nz-tab [nzTitle]="'Team Medal Stats'">
        <p>Teams teams teams!</p>
      </nz-tab>
      <nz-tab [nzTitle]="'Complete List'">
        <div>
          <div *ngIf="loading">
            Loading...
          </div>
          <div *ngIf="error">
            Error :(
          </div>
          <div *ngIf="medals">
            <div *ngFor="let medal of medals">
              <p>{{ medal.Event }}, {{ medal.Gender | titlecase}}'s {{ medal.Sport | lowercase}}</p>
            </div>
          </div>
        </div>
      </nz-tab>
    </nz-tabset>
  </div> -->

